extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back
 
  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1=project.project_name
        
      
        p=project.description

      //- Create list of technologies from the data 
      .project-tech-links-box.box
        h6 Technologies
        ul
          each tech in project.technologies 
            li= tech


        //- Links to projects
        a.btn-link(href=`${project.live_link}` target='_blank') Live Demo
        a.btn-link(href=`${project.github_link}` target='_blank') GitHub Repo

    //- Creates an img for each image in the data
    .project-img-box.box
      each img in project.image_urls  
        img.project-img(src=`${img}`, alt=`screenshot of ${project.project_name} site`)
      
    //- Return to hompage
    nav.nav
      a(href='/')
        span &larr;
        |  Back

       
